<script setup lang="ts">
import { onMounted, ref } from 'vue'

type Status = 'Ongoing' | 'Completed'

interface TaskInterface {
  id: number
  title: string
  status: Status
}

let tasks = ref<TaskInterface[]>([])
let isFormVisible = ref<boolean>(false)
let taskTitle = ref('')
let taskStatus = ref('')

onMounted(async () => {
  await getTasks()
})

const getTasks = async () => {
  const response = await fetch('http://localhost:3000', { method: 'GET' })
  tasks.value = await response.json()
  console.log(tasks.value)
}

const enableForm = () => {
  isFormVisible.value = true
}

const disableForm = () => {
  isFormVisible.value = false
}

const addTask = async () => {
  const response = await fetch('http://localhost:3000/add-task', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ title: taskTitle.value, status: taskStatus.value })
  })
  if (response.status === 200) {
    await getTasks()
  }
  // handle response
  taskTitle.value = ''
  taskStatus.value = ''
  disableForm()
}

const updateTask = async (idNumber: number, currentTaskStatus: string) => {
  console.log(idNumber, currentTaskStatus)
  if (currentTaskStatus == 'Ongoing') {
    currentTaskStatus = 'Done'
  } else {
    currentTaskStatus = 'Ongoing'
  }

  const response = await fetch('http://localhost:3000/update-task', {
    method: 'PUT',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ id: idNumber, status: currentTaskStatus })
  })
  if (response.status === 200) {
    await getTasks()
  }
}

const deleteTask = async (idNumber: number) => {
  try {
    const response = await fetch('http://localhost:3000/delete-task', {
      method: 'DELETE',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ id: idNumber })
    })
    if (response.status === 200) {
      await getTasks()
    }
  } catch (e) {
    console.log(e)
  }
}
</script>

<template>
  <div class="header">
    <div>
      <h1>Task Manager📌</h1>
      <a href="https://aivantuquero.com"> Made by: Aivan Carlos </a>
    </div>

    <button class="add-btn" @click="enableForm">Add</button>
  </div>

  <ul>
    <li v-for="task in tasks" :key="task.id">
      <div>
        <p id="taskName">{{ task.title }}</p>
        <p id="taskStatus">{{ task.status }}</p>
      </div>
      <div class="buttons">
        <button class="button main-btn" @click="updateTask(task.id, task.status)">
          Change Status
        </button>
        <button class="button" id="delete" @click="deleteTask(task.id)">Delete</button>
      </div>
    </li>
  </ul>
  <div v-if="isFormVisible" class="popUpForm">
    <form @submit.prevent="addTask">
      <input type="text" v-model="taskTitle" placeholder="Task Name" />
      <select v-model="taskStatus">
        <option value="Done">Done</option>
        <option value="Ongoing">Ongoing</option>
      </select>

      <div class="buttons">
        <button class="main-btn" type="submit">Ok</button>
        <button type="button" @click="disableForm">Cancel</button>
      </div>
    </form>
  </div>
</template>

<style>
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.popUpForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.popUpForm form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.popUpForm input {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.popUpForm select {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.popUpForm .buttons {
  display: flex;
  gap: 0.5rem;
}

h1 {
  color: #333;
}
ul {
  list-style: none;
  padding: 5px 0;
}

li {
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;
  gap: 1rem;
}

.buttons {
  display: flex;
  gap: 0.5rem;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
  color: #333;
  cursor: pointer;
}

.main-btn {
  background-color: rgb(99 102 241);
  color: #fff;
}

.add-btn {
  background-color: rgb(34 197 94);
  color: #fff;
}

.add-btn:hover {
  background-color: rgb(21 128 61);
  color: #fff;
}

.main-btn:hover {
  background-color: rgb(67 56 202);
}

#delete {
  background-color: rgb(239 68 68);
  color: #fff;
}

#delete:hover {
  background-color: rgb(185 28 28);
  color: #fff;
}

#taskname {
  font-weight: bold;
  font-size: medium;
}

#taskStatus {
  font-size: small;
  color: #666;
}

li:hover {
  background-color: #f5f5f5;
}
</style>
